---
interface Props {
	pageTitle?: string;
	description: string;
}

const { pageTitle = SITE_TITLE, description} = Astro.props;
import { SITE_TITLE, ACTIVE, INACTIVE, RECOVER, PREVIEW } from '../consts';
---

<head>
	<title>{pageTitle}</title>
	<link id="favicon" rel="icon" href={ACTIVE}>
	<meta property="og:title" content={SITE_TITLE} />
	<meta property="og:description" content={description} />
	<meta property="og:image" content={PREVIEW} />
	<meta property="og:image:width" content=256 />
	<meta property="og:image:height" content=256 />
</head>

<header>
	<nav>
		<div class="internal-links">
			<a href="/" class="static">{SITE_TITLE}</a>
			<a href="/blog" class="static">blog</a>
		</div>
	</nav>
</header>

<script define:vars={{ ACTIVE, INACTIVE, RECOVER }}>
	let originalTitle = document.title;
	let left = false;

	function handleVisibilityChange() {
		const favicon = document.getElementById('favicon');

		if (document.hidden) {
			setTimeout(() => {
				if (document.hidden) {
					favicon.href = INACTIVE;
					left = true;
					document.title = 'dont ignore me....';
				}
			}, 4000);
		} else if (left){
			favicon.href = RECOVER;
			left = false;
			document.title = 'never leave me again!!';

			setTimeout(() => {
				favicon.href = ACTIVE;
				document.title = originalTitle;
			}, 4000);
		}
	}

	document.addEventListener('visibilitychange', handleVisibilityChange);

	function cleanup() {
		document.removeEventListener('visibilitychange', handleVisibilityChange);
	}

	document.addEventListener('astro:unmount', cleanup);
</script>

<style>
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav a {
		padding: 1em 0.5em;
		text-decoration: none;
	}
</style>